body{
  margin:0;
}

#header{
  width:100%;
  height:200px;
  color:white;
  background-color:black;
  margin:0;
  padding:0	;
  text-align:center	;
  padding-top: 30px;
}

h1{
	font-size: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

#cars-imgs {
  margin-left: 15px;
  margin-right: 15px;
  width:100%;
  height:250px;
}

.car-img-info {
  float: left;
  text-align: center;
  margin: 15px;
}

.car-img-info img {
  height: 200px;
  width: 230px;
  border-radius: 5px;
}

.car-img-info a {
  display: block;
  text-decoration: none;
  color: #ababab;
  font-size: 25px;
  font-weight: bold;
}

.car-img-info a:hover {
  color: #dcd6d6; 
  font-size: 27px;
}

h2{
  margin: 15px;
  color: #ababab;
  border-bottom: 2px dotted #e2dede ;
}

#car-info{
  text-align: center ;  
  width:600px;
  height:300px;
  border-radius:5px;
  margin:auto;

}

#car-info img {
  float:left; 
  height: 200px;
  width: 250px;
  border-radius: 5px;
}

#car-info ul {
  float: left;
  height: 200px;
  width: 250px; 
  font-size: 20px;
  color:#ababab;
  font-weight: bold; 
  text-align:left ;

}




